#titles h2:nth-child(1) {
    width: 8%;
}
#titles h2:nth-child(2) {
    width: 10%;
}
#titles h2:nth-child(3) {
    width: 12%;
}
#titles h2:nth-child(4) {
    width: 13%;
}
#titles h2:nth-child(5) {
    width: 9%;
}
#titles h2:nth-child(6) {
    width: 17%;
}
#titles h2:nth-child(7) {
    width: 3.5%;
}
#titles h2:nth-child(8) {
    width: 12%;
}
#titles h2:nth-child(9) {
    width: 10%;
}
#titles h2:nth-child(10) {
    text-align: right !important;
}
.encomienda-item textarea {
    width: 219.1px;
    max-width: 219.1px;
    margin: 0px 10px;
}
.encomienda-item textarea:nth-child(3) {
    width: min-content !important;
    text-align: center !important;
}
.encomienda-item textarea:nth-child(6) {
    width: 100% !important;
}
.encomienda-item textarea:nth-child(7) {
    display: none;
}
.encomienda-item textarea:nth-child(8) {
    width: 50px !important;
    text-align: center !important;
}
.encomienda-item textarea:nth-child(9) {
    width: min-content !important;
    text-align: center !important;
    font-weight: bolder;
}
.encomienda-item textarea:nth-child(10) {
    width: min-content !important;
    text-align: center !important;
}

@media print {
    #titRes h3:nth-child(1), #listR h4:nth-child(1) {
        width: 40%; 
    }
    #titRes h3:nth-child(2), #listR h4:nth-child(2) {
        width: 30%;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    #titRes h3:nth-child(3), #listR h4:nth-child(3) {
        width: 30%;
    }
}
