#titles h2:nth-child(1) {
    margin-left: 5%;
}
#titles h2:nth-child(2) {
    margin-left: 10%;
}
#titles h2:nth-child(3) {
    margin-left: 6%;
}
#titles h2:nth-child(4) {
    margin-left: 15%;
}
#titles h2:nth-child(5) {
    margin-left: 16%;
}
#titles h2:nth-child(6) {
    margin-left: 8%;
}
.encomienda-item {
    justify-content: space-around;
}
.encomienda-item textarea {
    margin: 0px 10px;
}
.encomienda-item textarea:nth-child(3) {
    max-width: 100px !important;
    width: min-content !important;
    text-align: center !important;
}
.encomienda-item textarea:nth-child(4) {
    width: 400px !important;
    max-width: 400px !important;
    text-align: center !important;
}
.encomienda-item textarea:nth-child(6) {
    max-width: 100px !important;
    width: min-content !important;
    text-align: center !important;
}

@media print {
    #titRes h3:nth-child(1), #listR h4:nth-child(1) {
        width: 35%; 
    }
    #titRes h3:nth-child(2), #listR h4:nth-child(2) {
        width: 20%;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    #titRes h3:nth-child(3), #listR h4:nth-child(3) {
        width: 45%;
    }
}
